:root{
    --color-principal: rgb(46, 122, 184);
    --ancho-principal: 450px;
}

.titulo{
    color: var(--color-principal);
}

.footer{
    color: var(--color-principal);
}

.contenedor{
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}